@model IEnumerable<University.Application.ViewModels.StudentViewModel>

@{
    ViewData["Title"] = "Alunos";
}

<h1>Lista de Alunos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Aluno</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@await Html.PartialAsync("_StudentsTable", Model)
